<!DOCTYPE html>
<html>
<head>
  <title>Password reset form</title>
</head>
<body>
      
      <form method='post'>
              {% csrf_token %}
                <input class="form-control password_set_input" type="email" name="email" maxlength="254" required="" id="password_set_input"
                  placeholder="Enter Your Registered Email."></p>
  
              <span style="margin-bottom: 12px;"></span>
              <button type="submit" class="btn btn-success">Reset Password</button>
  
            </form>      

</body>
</html>