<!DOCTYPE html>
{%load static%}
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>

	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}">

		
	</script>


	<title>Person Page </title>
</head>
<body>

<form method="POST" class="person" enctype="multipart/form-data">
   	{% csrf_token %}
   	<input type="text" id="name" name="name">
   	<input type="text" id="email" name="email">
   	<input type="text" id="location" name="location">
   	<input type="hidden" name="obj_id" id="obj_id" value="">
   	<input type="file" id='file' name="file">
   	<button class='.submit' type="submit">submit</button>
   
</form>
<div class="show">
	
</div>
  <table class="table table-bordered simple-table">
    <tr>
    <th>name</th>
    <th>email</th>
    <th>location</th>
    <th>file</th>
    <th>Edit</th>
    <th>Delete</th>
    </tr>
    
  <tr>
     
  </tr>
  
  </table>

{{ obj.image.url  
   
<script type="text/javascript">
 var get_update_csrf = '{{ csrf_token }}'

 // -------- step#1 get diay object gule template show kore hossche request-----------

$(document).ready(function(){
var url = "{% url 'object_json_format' %}"
console.log(url);
 	$.ajax({
        type:'GET',
        url:url,
        data:'json',
        success:function(data){
        if(data.length > 0)
        {
           $.each(data, function(i, item){
            
	         $('.simple-table').append("<tr id='"+item.id+"'><td>"+item.name+"</td><td>"+item.email+"</td><td>"+item.location+"</td><td>"+("<img src='"+item.file+"'>")+"</td><td>"
	         	+("<button class='editbutton' data-id="+item.id +">Edit</button>")+
	         	"</td><td>"+("<button class='deletebutton' data-url='' data-id="+item.id+">Delete</button>")+"</td></tr>")

             })
        }else{
     		console.log('No data');
            }	
        },
        error:function(data){
        	console.log("failed");
        }
 	});
 });


 //------------------update-------------------------------

// id ta neya oi ta id tar value gula form show korano hoyacha GET diya
$(document).on('click', '.editbutton', function(){
   	var id = $(this).data("id")
   	var url = '/single_object/'+id+'/'

   	$.ajax({
   		url : url,
   		type : 'GET',
   		success:function(data){
	   		$("#name").val(data.name)
	   		$("#email").val(data.email)
	   		$('#location').val(data.location)
	   		$('#obj_id').val(data.id)
        
         

   		},
   		error:function(data){
   			console.log('failed');
   		}
   		});   	 
   });

// value ke update kore post kore hoya ache
$('.person').on('submit', function(event){
   		event.preventDefault()
	   	var url = {% url 'post_or_update' %}
      var form = $(this)
	   	var data = new FormData(form[0])
      console.log(" try data",data);
	   	$.ajax({
	   		type:'POST',
	   		url: url,
	   		data: data,
	   		enctype: $('.person').attr('enctype'),
        async:true,
        contentType:false,
        processData:false,
        cache:false,
	   		beforeSend:function(xhr){
	        xhr.setRequestHeader("X-CSRFToken", get_update_csrf);
	      },
	   		success:function(data){
            
          
	   			if($('.person').find('#obj_id').val()){
	   				$("#"+$('.person').find('#obj_id').val()).html(
	   					"<td>"+data.name+"</td><td>"+data.email+"</td><td>"+data.location+"</td><td>"+data.file+"</td><td>"
	         			+("<button class='editbutton' data-id="+data.id +">Edit</button>")+
	         			"</td><td>"+("<button class='deletebutton' data-url='' data-id="+data.id+">Delete</button>")+"</td>"
	   				)

	   			console.log('update');	
	   			}else{
	   				$('.simple-table').append("<tr><td>"+data.name+"</td><td>"+data.email+"</td><td>"+data.location+"</td><td>"
              +("<img src='"+data.file+"'>")+"</td><td>"
	         	+("<button class='editbutton' data-id="+data.id +">Edit</button>")+
	         	"</td><td>"+("<button class='deletebutton' data-url='' data-id="+data.id+">Delete</button>")+"</td></tr>")

	   			}
	   			console.log('post');

          
   				
	   		},

   		error:function(data)
	   		{
	   		console.log('failed');
	   		}

	   	});
   });
 

//------------Delete method----------------
var delete_fun =function(id)
   {
    var leave_api_obj = "{% url 'delete' '0' %}"
        leave_api_obj = leave_api_obj.slice(0,-2)    //to remove demo value '0' from ur
        leave_api_obj = leave_api_obj + id +'/'
        return leave_api_obj    
    }

$(document).on('click', '.deletebutton', function(){
	var id = $(this).attr('data-id');
	var url = delete_fun(id);
    $('.deletebutton').attr('data-url', url);
    var main_url = $(this).attr('data-url');
    console.log(main_url);
	    $.ajax({
	    	url:main_url,
	    	type:'DELETE',
	    	beforeSend:function(xhr)
	    	{
	          xhr.setRequestHeader("X-CSRFToken", get_update_csrf);
	        },

	        success:function(data){
            $('.deletebutton[data-id="'+id+'"]').parent().parent().fadeOut();
	        console.log('success');
	        },
	        erro:function(data)
	        {
            console.log('failed')
	        }
	    });
});
</script>
</body>
</html>