<!DOCTYPE html>
{% load static %}
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>

	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}">
	</script>
	<title>Forgotten password form </title>
</head>
<body>
	<h4>{{ req_obj.user }}</h4>
	<h5>{{ req_obj.token }}</h5>
     <div class="show"></div>
     <form method="POST" class="forgetpasswordform">
     	{% csrf_token %}
     	<input type="password" name="pass1" required><br>
     	<input type="password" name="pass2" required><br>
     	<input type="submit" name="">
     </form>

<script type="text/javascript">
	var user = '{{ req_obj.user}}'
	var token = '{{req_obj.token}}'
	$(document).on('submit', function(event){
		event.preventDefault();

		var url = '/update_forget_password/'+user+'/'+token+'/'
		console.log(url);

		var data = $('.forgetpasswordform').serialize()
		console.log(data);

		$.ajax({
			url:url,
			data:data,
			method:'POST',
			success:function(data){
     				if (data.status == 'success'){
     					$('.show').css('background-color','green').text('password forget success');
     					
     				}else{
     					$('.show').css('background-color','red').text(' password do not match ');
     				}
     			},
     			error:function(data){
     				console.log(data);
     			}

		});    	 
});
</script>
</body>
</html>