<!DOCTYPE html>
{% load static  %}
<html>
<head><link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>

	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}">
	</script>
	 
	<title>........password reset....</title>
</head>
<body>
 <h2>Password Reset</h2>
 <div class="show">
 	
 </div>

	<form method="POST" class="resetform">
		{% csrf_token %}
		<input type="password" name="pass1" required><br>
		<input type="password" name="pass2" required><br>
		<input type="submit" name="">
		
	</form>
    <script type="text/javascript">
    	$(document).on('submit', function(event){
    		event.preventDefault();
    		var url= {% url 'password_reset' %}
    		console.log(url);
    		var data = $('.resetform').serialize();
    		console.log(data);

    		$.ajax({
    			url:url,
    			data:data,
    			method:'POST',
    			success:function(data){
    				if(data.status == 'success'){
    					$('.show').css('background-color','green').text('password reset success');
    				}else{
    					$('.show').css('background-color','red').text('password do not match');
    				}
    			},
    		    error:function(){
    		    	console.log('error');
    		    }
    		})

    	})
    </script>
</body>
</html>